<div class="row filtro-fila">
  <div class="col-sm-offset-0 col-sm-2 col-md-offset-1 col-md-1">
    Oficina
  </div>
  <div class="col-sm-offset-0 col-sm-4">
    <%= f.input :oficina_id,
      collection: Sip::Oficina.habilitados,
      label_method: :nombre,
      value_method: :id,
      label: false,
      selected: params[:validarcaso] ? 
        params[:validarcaso][:oficina_id] : nil
    %>
  </div>
</div> <!-- class: filtro-fila -->
