<div class="row filtro-fila">
  <div class="offset-sm-0 col-sm-2 offset-md-1 col-md-1">
    Oficina
  </div>
  <div class="offset-sm-0 col-sm-4">
    <%= f.input :oficina_id,
      collection: Msip::Oficina.habilitados,
      label_method: :nombre,
      value_method: :id,
      label: false,
      include_blank: true,
      selected: params[:validarcaso] ? 
        params[:validarcaso][:oficina_id] : nil
    %>
  </div>
  <div class="offset-sm-0 col-sm-2 offset-md-1 col-md-1">
    Excluir por etiqueta
  </div>
  <div class="offset-sm-0 col-sm-4">
    <%= f.input :etiqueta_id,
      collection: Msip::Etiqueta.habilitados,
      label_method: :nombre,
      value_method: :id,
      label: false,
      include_blank: true,
      selected: params[:validarcaso] ? 
        params[:validarcaso][:etiqueta_id] : nil
    %>
  </div>

</div> <!-- class: filtro-fila -->
