<div class="col-sm-1">
  <%= Sivel2Sjr::Casosjr.human_attribute_name(:oficina) %>
</div>
<div class="col-sm-4">
  <%= f.input :oficina_id,
    collection: Sip::Oficina.habilitados,
    label_method: :nombre,
    value_method: :id,
    label: false,
    input_html: { "data-contarautomatico" => "" }
  %>
</div>
