<div class="panel-group" id="acordeonlc">
  <div class="panel panel-default" id="panellc">
    <div class="panel-heading">
      <div class="panel-title">
        <a data-toggle="collapse" data-target="#colapsalc" href="#colapsalc">
          Listado de casos (grupos familiares) beneficiarios
        </a>
      </div> <!-- panel-title -->
    </div> <!-- panel-heading -->

    <div id="colapsalc" class="panel-collapse collapse">
      <div class="panel-body">
      <div id='tablalistadocasosjr_id' class="panel-body table-responsive" style="overflow-x:scroll;">
        <table class="tablalistadocasosjr table  table-bordered table-sm ">
          <thead class="thead-light">
            <tr><th rowspan='2' width='6em'>Número de Caso</th>
              <th colspan='4' style='text-align: center'>Contacto</th>
              <th colspan='3' style='text-align: center'>Familia</th>
              <th rowspan='2'>Acciones</th>
            </tr>
            <tr>
              <th>Nombres</th>
              <th>Apellidos</th>
              <th widht='6em'>Tipo Id.</th>
              <th>Número .Id</th>
              <th>Mujeres</th>
              <th>Hombres</th>
              <th>Sexo Sin Inf</th>
            </tr>
          </thead>
          <tbody id="actividad_casosjr">
            <%= f.simple_fields_for :actividad_casosjr do |ac| %>
              <%= render 'actividad_casosjr_campos', f: ac %>
            <% end %>
          </tbody>
        </table>
        <div class="links">
          <%= link_to_add_association 'Añadir Caso Beneficiario', f, 
            :actividad_casosjr,
            :"data-association-insertion-node" => "tbody#actividad_casosjr", 
            :"data-association-insertion-method" => "append", 
            partial: 'actividad_casosjr_campos',
            :class => 'btn-primary'
          %>
        </div>

      </div> <!-- panel-body -->
    </div> <!-- colapsalc -->
  </div> <!-- panellc -->
</div> <!-- acordeonlc -->
