<%= f.simple_fields_for :victima do |victima| %>
  <% if !victima.object.persona.nil? && 
       victima.object.persona.id != @caso.casosjr.contacto.id %>
    <%= render 'victima_campos', f: victima %>
  <% end %>
<% end %>

<div class="links">
  <%= link_to_add_association 'Añadir Integrante', f, :victima, { 
    partial: 'victima_campos',
    class: 'btn-primary',
    "data-ajax" => File.join(
      Rails.configuration.relative_url_root,
      "victimas/nuevo"
    ), 
    "data-ajaxdata" => "caso_id" 
  } %>
</div>
