<div class="row">
  <div class="col-md-6">
    <%= fvictimasjr.input :ndiscapacidad, collection: [
      ['FÍSICA', 'FÍSICA'], 
      ['PSÍQUICA', 'PSÍQUICA'], 
      ['SENSORIAL', 'SENSORIAL'] ], 
      label: "Discapacidad" %>
  </div> 
  <div class="col-md-6">
    <%= fvictimasjr.input :enfermedad %>
  </div> 
</div> 

