<%= f.simple_fields_for :victima, Sivel2Gen::Victima.
  where(caso_id: @caso.id).
  where('persona_id <> ?', @caso.casosjr.contacto.id).
  order(:id) do |victima| %>
    <%= render 'victima_campos', f: victima %>
<% end %>

<div class="links">
  <%= link_to_add_association 'Añadir Integrante', f, :victima, { 
    partial: 'victima_campos',
    class: 'btn btn-sm btn-primary',
    "data-ajax" => File.join(
      Rails.configuration.relative_url_root,
      "victimas/nuevo"
    ), 
    "data-ajaxdata" => "caso_id",
    style: 'margin-bottom: 1em'
  } %>
</div>
